#footer{
    min-height: 40vh;
    background-color: #000;
}
.footer__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
}
.footer__item--left p{
    color: var(--gray-color);
    font-size: 0.8rem;
    font-weight: 700;

}
.footer__item-mid h4{
        color: var(--light-color);
}
.footer__item-mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mid__item{
    margin: 0 5rem
}
.mid__item h4{
    margin: 2.5rem 0;
}
.mid__item li{
    margin: 1.5rem 0;
}
.sub__email{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    box-shadow:inset 0 0 0 0.1rem rgb(82, 82, 82) ;
    border-radius: 0.5rem;
}
.sub__email--input{
       background: transparent;
       border: none;
       outline: none;
       color: var(--light-color);
}
.email{
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 2rem;
    color: var(--light-color);
    cursor: pointer;
}
.email:hover{
    opacity: 0.9;
}
.sub__email input {
    margin-left: 1rem;
}
.footer__item--right h3{
    color: var(--light-color);
    margin: 2rem 0;
}
.footer__social i{
    color: var(--light-color);
    background-color: var(--card-color);
    margin:1rem 0.3rem;
    padding: 0.5rem ;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.footer__social i:hover{
    background-color: var(--primary-color);
    transform: rotate(360deg);
}
.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mid__item a{
    transition: all 0.3s ease-in-out;
}
.mid__item a:hover{
    color: var(--primary-color);
}

.bookmark{
    padding: 1rem 1.2rem;
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    background-color: var(--light-color);
    border-radius: 25rem;
}
.bookmark a{
    color: var(--primary-color);
}